.ingredient-container {
	padding: 0 400px;
	font-size: 1.1em;
	margin-bottom: 50px;
}

.ingredient-container .img:not(.bookmark-button) {
	width: 300px;
	height: 300px;
}

.ingredient-container .link {
	max-width: 300px;
	margin-bottom: 30px;
	font-size: 1.3em;
	text-align: center;
}

.description {
	text-align: justify;
}
