.params-container input {
	margin: 0 10px;
	width: 116px;
}

textarea.description {
	width: 96%;
	min-height: 300px;
	padding: 10px;
}

.upload-label {
	position: relative;
	top: 20px;
	width: 96%;
	height: 200px;
	margin-bottom: 30px;
	gap: 10px !important;
	flex-direction: column;
	text-align: center;
	background-color: rgb(246, 246, 246);
	border: 3px solid rgb(246, 246, 246);
	border-radius: 10px;
	cursor: pointer;
}

.upload-label:hover {
	border-color: var(--primary-color);
}

#upload-photo {
	position: absolute;
	clip: rect(0px, 0px, 0px, 0px);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.upload-img {
	background-image: url(~/assets/upload-photo.svg);
	width: 55px;
	height: 50px;
}

.return-button {
	position: absolute;
	background-image: url(~/assets/sign-up-green.svg);
	top: 455px;
	right: 370px;
	width: 40px;
	height: 30px;
	transform: rotate(180deg);
	transition: right 0.2s 0.1s;
}

.return-button:hover {
	right: 375px;
}

.ingridients-select {
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.select-item {
	position: relative;
	width: 100%;
	gap: 10px;
}

.remove-button {
	position: absolute;
	background-image: url(~/assets/remove-green.svg);
	width: 30px;
	height: 30px;
	right: -40px;
}

.add-button {
	width: 96%;
	height: 40px;
	background-color: var(--primary-color);
	border-radius: 7px;
}

.add-img {
	background-image: url(~/assets/add-white.svg);
	width: 30px;
	height: 30px;
}
